@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Slabo+27px&display=swap');
.my-nav{
    position: fixed;
    z-index: 10;
    width: 100%;
    font-size: 25px;
    color: black;
    background-color: rgba(0, 0, 0, 0.211);
    }
    
    .carousel-item {
      height: 100vh;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .navbar-nav li{
        padding: 20px;
    }
    
    #about h1{
       margin: 50px;
       font-family: "Slabo 27px", serif;
    }
    
    #about p{
        width: 30%;
        height: 40%;
        font-size: medium;
        font-weight: 600;
    }